*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homepageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    height: 100vh;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}